@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css);.hero-body {
  display: block;
  background: #ff6347;
  position: relative;
}
.hero-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
