
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans');


// Variables


$theme-green: #1eb619;
$theme-pink:#ff3860;
$theme-blue:#3888ff;
$theme-cyan:#19b6b1;
$theme-grey:#e6e5e3;
@import "initial-variables";
@import "bulma";

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}






