// Tile styled menus bar.
$theme-green = #1eb619
$theme-pink = #ff3860
$theme-blue = #3888ff
$theme-cyan = #19b6b1
$theme-grey = #e6e5e3

//



@import '/public/css/bulma.css'

.action-menu
    background white
    display flex
    justify-content flex-end


.button
    background #19b6b1
    border-top 5px solid tomato
    font-family 'Oswald', sans-serif
    font-size 24px
    color white
    box-shadow 6px 3px 5px grey
    margin 3px 3px 3px 3px
    ^[0]:hover
        background white
        color #19b6b1
