@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css'

    html,body
        font-family 'Open Sans', serif


        .hero
            width 100vw
            height 100vh



            .hero-body
                position relative


                .splash-video
                    position absolute
                    max-width 100vw
                    max-height 100vh
                    top 0
                    right 0
                    left 0
                    bottom 0








